$black: #000;

$gray1: #111;
$gray2: #222;
$gray3: #333;
$gray4: #444;
$gray5: #555;
$gray6: #666;
$gray7: #777;
$gray8: #888;
$gray9: #999;
$grayA: #AAA;
$grayB: #BBB;
$grayC: #CCC;
$grayD: #DDD;
$grayE: #EEE;

$white: #FFF;
