$u8: 4.0000;
$u7: 3.3636;
$u6: 2.8284;
$u5: 2.3784;
$u4: 2.0000;
$u3: 1.6818;
$u2: 1.4142;
$u1: 1.1892;

$d1: 0.8409;
$d2: 0.7071;
$d3: 0.5946;
$d4: 0.5000;
$d5: 0.4204;
$d6: 0.3536;
$d7: 0.2973;
$d8: 0.2500;
